<form action="/data" method = "POST">
    <p>Ticker <input type = "text" name = "Ticker" /></p>
    <label for="FormControlFile">Choose Period</label>
        <select name="period">
            {% for colour in period %}
        <option value="{{ colour }}" SELECTED>{{ colour }}</option>
            {% endfor %}
        </select>
    <label for="FormControlFile">Choose kernel</label>
        <select name="kernel">
            {% for k in kernel %}
        <option value="{{ k }}" SELECTED>{{ k }}</option>
            {% endfor %}
        </select>
    <label for="FormControlFile">Choose field</label>
        <select name="field">
            {% for k in field %}
        <option value="{{ k }}" SELECTED>{{ k }}</option>
            {% endfor %}
        </select>
    <p><input type = "submit" value = "Submit" /></p>
</form>